body {
	background-image: url("email-pattern.png");
}

.h1-myclass {
	text-align: center;
}

.btn-primary {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-buttons {
	justify-content: space-between;
	display: flex;
}

.form-buttons-create {
	justify-content: center;
	display: flex;
}

.form-myclass {
	margin: 10px;
	background-color: #d1e7dd;
	border: 3px solid #808080;
	border-radius: 25px;
	padding: 20px;
  }
.edit-form {
		min-width: 400px;
}  
  
.navbar-myclass {
	border: 3px solid #808080;
}

.form-group {
	margin-bottom: 20px;
	margin-top: 10px;
}

.table-myclass {
	 border: 3px solid #808080;
	 background-origin: padding-box;
}

.nav-link:hover {
    background: rgb(192, 192, 192); 
    color: #ffe; 
}

.form-search {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 400px;
}

th {
    word-wrap:break-word;
}

table {
	table-layout: fixed;
    width:100%
}